.userList {
    width: 30%;
    height: 100%;
    overflow-y: auto;
}

.userList__item {
    cursor: pointer;
    margin-bottom: 10px;
    transition: 0.3s;
}
.userList__item:hover {
    background-color: #eae7e7;
}

.userList__item:last-child {
    margin-bottom: 0;
}
