.postCard-container {
    width: 100%;
    padding: 10px;
}

.postCard-container__title {
    margin-bottom: 5px;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
}

.postCard-container__body {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}

.postCard-container__btn {
    cursor: pointer;
    padding: 7px;
    border: none;
    background-color: #bfbcbc;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 400;
}

